.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

h2,h3 { 
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 400; 
}

h1,h4 {
	display: inline;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.inner-border {
    background: #fff;
	border: 1px solid #ccc;
	border-radius: 16px !important;
    color: #000;
    margin: 10px;
    padding: 0.0em 16px;
    position: relative;
}
/*.inner-border:before {
    
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}*/